.goodEats{
    max-width: 50%;
    border: 1px solid black;
}

.link{
    padding-right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 20px;
}

a:hover{
    color:rgb(14, 11, 190);
}

.projects{
    margin-top: 50px;
    color:rgb(0, 0, 0);
    width: 60%;
    float:center;
    margin:auto;
}

.h1{
    float:center;
    padding-bottom: 30px;
    font-style: italic; 
    width: 80%;
}

h2{
    text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    .link{
       border-left: none;
       border-right: none;
       display:flex;   
       text-decoration: underline;
    }

    .projects {
        font-size: 14px;
        margin: auto;
        padding: 10px;
    }
    .goodEats{
        max-width:95%;
        margin:0;
    }
    
    }