
.aboutme {
    padding-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 19px;
    float:left;
    font-weight: bold;
}

@media only screen and (min-width: 375px) {

.aboutme {
    font-size: 14px;
    margin: auto;
}

h1 {
    padding-top: 20px;
    font-size: 22px;
    margin: auto;
}
}






