.links {
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.heading {
    word-spacing: 56px;
}

.skills {
    color:rgb(0, 0, 0);
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
.links{
    font-size: 22px;
}
}